<!DOCTYPE html>
<html>

<head>
    <link href="https://unpkg.com/bootstrap@4.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="icon" type="image/x-icon" href="https://avatars0.githubusercontent.com/u/13645031?s=460&v=4">
    {% include meta.html %}
</head>

<body>
    <div class="main-content">
        <div class="shadow-sm bg-white header">
            <div class="h-100 container d-flex align-items-center">
                <a href="/" class="text-decoration-none text-dark">
                    <h5 class="m-0 d-flex align-items-center">
                        <img height="30" width="30" style="border-radius: 20px;" class="mr-2"
                            src="https://avatars0.githubusercontent.com/u/13645031?s=460&v=4">
                        <span class="d-none d-sm-block">Daryl Clarino</span>
                        <span class="d-block d-sm-none">DC</span>
                    </h5>
                </a>
                <span class="flex-fill"></span>
                <a href="/about" class="mr-4 text-muted text-decoration-none">Me</a>
                <a href="/contact" class="mr-4 text-muted text-decoration-none">Contact</a>
                <a href="https://github.com/judedaryl">
                    <img height="30" width="30" src="{{ site.baseurl }}/images/GitHub-Mark-64px.png">
                </a>
            </div>
        </div>
        <div class="content">
            <div class="container pt-5">
                {{ content }}
            </div>
        </div>
    </div>
    <div class="shadow-sm bg-white footer">
        <div class="h-100 container d-flex align-items-center justify-content-between">
            <small class="text-muted"> Copyright @ <span id="footer-year">2019</span></small>
            <small class="text-primary">
                <a href="https://github.com/judedaryl">Daryl Clarino</a></small>
        </div>
    </div>
</body>

<script>
    document.getElementById('footer-year').innerText = new Date().getFullYear();
</script>

</html>
